@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.js")
    @Scripts.Render("~/Scripts/jqxcore.js")
    @Scripts.Render("~/Scripts/jqxdata.js")
    @Scripts.Render("~/Scripts/jqxdate.js")
    @Scripts.Render("~/Scripts/jqxmenu.js")
    @Scripts.Render("~/Scripts/jqxbuttons.js")
    @Scripts.Render("~/Scripts/jqxdropdownlist.js")
    @Scripts.Render("~/Scripts/jqxdropdownbutton.js")
    @Scripts.Render("~/Scripts/jqxlistbox.js")
    @Scripts.Render("~/Scripts/jqxpanel.js")
    @Scripts.Render("~/Scripts/jqxscrollbar.js")
    @Scripts.Render("~/Scripts/jqxinput.js")
    @Scripts.Render("~/Scripts/jqxgrid.js")
    @Scripts.Render("~/Scripts/jqxgrid.aggregates.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsresize.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsreorder.js")
    @Scripts.Render("~/Scripts/jqxgrid.edit.js")
    @Scripts.Render("~/Scripts/jqxgrid.export.js")
    @Scripts.Render("~/Scripts/jqxgrid.filter.js")
    @Scripts.Render("~/Scripts/jqxgrid.grouping.js")
    @Scripts.Render("~/Scripts/jqxgrid.pager.js")
    @Scripts.Render("~/Scripts/jqxgrid.selection.js")
    @Scripts.Render("~/Scripts/jqxgrid.sort.js")
    @Scripts.Render("~/Scripts/jqxgrid.storage.js")

    <script type="text/javascript">
        var columnNames = ["PlugID", "Name", "IP", "Plug1", "Plug2"];
        var fieldNames = ["PlugID", "Name", "IP", "Plug1", "Plug2"];
        var one = false;
        var two = false;


        $(function () {
            $.getJSON('http://10.0.0.136:3000/api/plug/get/all', function (data) {
                populateTable(data);
            });
        });

        function populateTable(data) {
            gridSource =
            {
                datatype: "array",
                datafields: [
                    { name: fieldNames[0], type: 'string' },
                    { name: fieldNames[1], type: 'string' },
                    { name: fieldNames[2], type: 'string' }
                ],
                localdata: data.Plugs
            };
            var mainGridDataAdapter = new $.jqx.dataAdapter(gridSource, {
                autoBind: true, async: false
            });
            var mainGrid = $('#mainGrid');
            showGrid(mainGrid, mainGridDataAdapter);
        }

        function viewPlug(id) {

        }

        function toggleOne(id) {
            if ($('#toggleone' + id).hasClass('oneoff')) {
                $.ajax({
                    url: 'http://10.0.0.136:3000/api/plug/turnoneon/' + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        $('#toggleone' + id).addClass('oneon');
                        $('#toggleone' + id).removeClass('oneoff');
                        $('#toggleone' + id)[0].value = "On";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            }
            else {
                $.ajax({
                    url: 'http://10.0.0.136:3000/api/plug/turnoneoff/' + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        $('#toggleone' + id).removeClass('oneon');
                        $('#toggleone' + id).addClass('oneoff');
                        $('#toggleone' + id)[0].value = "Off";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            }
        }

        function toggleTwo(id) {
            if ($('#toggletwo' + id).hasClass('twooff')) {
                $.ajax({
                    url: 'http://10.0.0.136:3000/api/plug/turntwoon/' + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        $('#toggletwo' + id).addClass('twoon');
                        $('#toggletwo' + id).removeClass('twooff');
                        $('#toggletwo' + id)[0].value = "On";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            }
            else {
                $.ajax({
                    url: 'http://10.0.0.136:3000/api/plug/turntwooff/' + id,
                    type: "POST",
                    success: function (data, textStatus, jqXHR) {
                        $('#toggletwo' + id).removeClass('twoon');
                        $('#toggletwo' + id).addClass('twooff');
                        $('#toggletwo' + id)[0].value = "Off";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            }
        }

        function showGrid(mainGrid, mainGridDataAdapter) {

            var cellsrenderer1 = function (row, column, value, defaultHtml, columnSettings, rowData) {
                $.getJSON('http://10.0.0.136:3000/api/plug/get/status/' + rowData.PlugID, function (data) {
                    data = JSON.parse(data);
                    if (data.status1) {
                        $('#toggleone' + rowData.PlugID).removeClass('oneoff');
                        $('#toggleone' + rowData.PlugID).addClass('oneon');
                        $('#toggleone' + rowData.PlugID)[0].value = "On";
                    }
                    else {
                        $('#toggleone' + rowData.PlugID).addClass('oneoff');
                        $('#toggleone' + rowData.PlugID).removeClass('oneon');
                        $('#toggleone' + rowData.PlugID)[0].value = "Off";
                    }
                });
                return '<input id="toggleone' + rowData.PlugID + '" type="button" value="Off" onclick="toggleOne(' + rowData.PlugID + ')" style="width:100%;height:100%" class="oneoff"/>';
            };

            var cellsrenderer2 = function (row, column, value, defaultHtml, columnSettings, rowData) {
                $.getJSON('http://10.0.0.136:3000/api/plug/get/status/' + rowData.PlugID, function (data) {
                    data = JSON.parse(data);
                    if (data.status2) {
                        $('#toggletwo' + rowData.PlugID).removeClass('twooff');
                        $('#toggletwo' + rowData.PlugID).addClass('twoon');
                        $('#toggletwo' + rowData.PlugID)[0].value = "On";
                    }
                    else {
                        $('#toggletwo' + rowData.PlugID).addClass('twooff');
                        $('#toggletwo' + rowData.PlugID).removeClass('twoon');
                        $('#toggletwo' + rowData.PlugID)[0].value= "Off";
                    }
                });
                return '<input id="toggletwo' + rowData.PlugID + '" type="button" value="Off" onclick="toggleTwo(' + rowData.PlugID + ')" style="width:100%;height:100%" class="twooff"/>';
            };

            mainGrid.jqxGrid(
            {
                width: '100%',
                source: mainGridDataAdapter,
                selectionmode: 'multiplerowsextended',
                sortable: false,
                pageable: false,
                editable: false,
                autoheight: true,
                autoloadstate: false,
                autosavestate: false,
                columnsresize: true,
                columnsreorder: false,
                showfilterrow: false,
                enabletooltips: true,
                filterable: false,
                filterrowheight: 25,
                rowsheight: 25,
                columnsheight: 18,
                columns: [
                    { text: columnNames[0], datafield: fieldNames[0], width: '10%', hidden: true, align: 'center', cellsalign: 'center' },
                    { text: columnNames[1], datafield: fieldNames[1], width: '30%', hidden: true, align: 'center', cellsalign: 'center' },
                    { text: columnNames[2], datafield: fieldNames[2], width: '30%', hidden: true, align: 'center', cellsalign: 'center' },
                    { text: columnNames[3], datafield: fieldNames[3], width: '15%', hidden: true, align: 'center', cellsrenderer: cellsrenderer1 },
                    { text: columnNames[4], datafield: fieldNames[4], width: '15%', hidden: true, align: 'center', cellsrenderer: cellsrenderer2 }
                ]
            });

            for (var i = 0; i < fieldNames.length; i++) {
                mainGrid.jqxGrid('showcolumn', fieldNames[i]);
            }
        }
    </script>
}

<style>
    table {
        width: 100%;
    }

    td {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    th {
        text-align: center;
        vertical-align: middle;
        padding: 5px;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 300px;
        overflow: auto;
    }

    #table-wrapper table {
        width: 100%;
    }

    .oneoff {
        background-color: red;
    }

    .oneon {
        background-color: green;
    }

    .twooff {
        background-color: red;
    }

    .twoon {
        background-color: green;
    }

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 400px; /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<html>
<head>
    <title>HomeControlServer</title>
    <link rel="stylesheet" href="~/Styles/jqx.base.css" type="text/css" />
</head>

<body>
    <h1>Devices</h1>
    <div id="mainGrid" style="opacity:.99;"></div>
</body>
</html>