@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.3.js")
    @Scripts.Render("~/Scripts/jqxcore.js")
    @Scripts.Render("~/Scripts/jqxdata.js")
    @Scripts.Render("~/Scripts/jqxdate.js")
    @Scripts.Render("~/Scripts/jqxmenu.js")
    @Scripts.Render("~/Scripts/jqxbuttons.js")
    @Scripts.Render("~/Scripts/jqxdropdownlist.js")
    @Scripts.Render("~/Scripts/jqxdropdownbutton.js")
    @Scripts.Render("~/Scripts/jqxlistbox.js")
    @Scripts.Render("~/Scripts/jqxpanel.js")
    @Scripts.Render("~/Scripts/jqxscrollbar.js")
    @Scripts.Render("~/Scripts/jqxinput.js")
    @Scripts.Render("~/Scripts/jqxgrid.js")
    @Scripts.Render("~/Scripts/jqxgrid.aggregates.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsresize.js")
    @Scripts.Render("~/Scripts/jqxgrid.columnsreorder.js")
    @Scripts.Render("~/Scripts/jqxgrid.edit.js")
    @Scripts.Render("~/Scripts/jqxgrid.export.js")
    @Scripts.Render("~/Scripts/jqxgrid.filter.js")
    @Scripts.Render("~/Scripts/jqxgrid.grouping.js")
    @Scripts.Render("~/Scripts/jqxgrid.pager.js")
    @Scripts.Render("~/Scripts/jqxgrid.selection.js")
    @Scripts.Render("~/Scripts/jqxgrid.sort.js")
    @Scripts.Render("~/Scripts/jqxgrid.storage.js")

    <script type="text/javascript">
        columnNames = ["PlugID", "Name", "IP", "View"];
        fieldNames = ["PlugID", "Name", "IP", "View"];

        $(function () {
            $.getJSON('http://10.0.0.136:3000/api/plug/get/all', function (data) {
                for (var i = 0; i < data.Plugs.length; i++) {
                    data.Plugs[i].View = "View";
                }
                populateTable(data);
            });
        });

        function populateTable(data) {
            gridSource =
            {
                datatype: "array",
                datafields: [
                    { name: fieldNames[0], type: 'string' },
                    { name: fieldNames[1], type: 'string' },
                    { name: fieldNames[2], type: 'string' },
                    { name: fieldNames[3], type: 'string' }
                ],
                localdata: data.Plugs
            };
            var mainGridDataAdapter = new $.jqx.dataAdapter(gridSource, {
                autoBind: true, async: false
            });
            var mainGrid = $('#mainGrid');
            showGrid(mainGrid, mainGridDataAdapter);
        }

        function showGrid(mainGrid, mainGridDataAdapter) {
            mainGrid.jqxGrid(
            {
                width: '100%',
                source: mainGridDataAdapter,
                selectionmode: 'multiplerowsextended',
                sortable: false,
                pageable: false,
                editable: true,
                autoheight: true,
                autoloadstate: false,
                autosavestate: false,
                columnsresize: true,
                columnsreorder: false,
                showfilterrow: false,
                enabletooltips: true,
                filterable: false,
                filterrowheight: 25,
                rowsheight: 25,
                columnsheight: 18,
                columns: [
                    { text: columnNames[0], datafield: fieldNames[0], width: '10%', hidden: true, align: 'center', cellsalign: 'center' },
                    { text: columnNames[1], datafield: fieldNames[1], width: '30%', hidden: true, align: 'center', cellsalign: 'center' },
                    { text: columnNames[2], datafield: fieldNames[2], width: '30%', hidden: true, align: 'center', cellsalign: 'center' },
                    {
                        text: columnNames[3], datafield: fieldNames[3], width: '30%', hidden: true, align: 'center', cellsalign: 'center',
                        createeditor: function (row, cellvalue, editor, celltext, pressedChar) {
                            var data = $('#mainGrid').jqxGrid('getrowdata', row);
                            window.location.href = 'http://10.0.0.136:3000/Home/Plug?PlugID=' + data.PlugID;
                        }
                    },
                ]
            });

            for (var i = 0; i < fieldNames.length; i++) {
                mainGrid.jqxGrid('showcolumn', fieldNames[i]);
            }
        }
    </script>
}

<html>
<head>
    <title>HomeControlServer</title>
    <link rel="stylesheet" href="~/Styles/jqx.base.css" type="text/css" />
</head>

<body>
    <h1>Devices</h1>
    <div id="mainGrid" style="opacity:.99;"></div>
</body>
</html>